
body{
	font-family: 'Noto Sans TC', sans-serif;
	background-color: #e7eff5;
}


p{
	font-size: 1.375rem;
}

#type-text{
	font-size: 1.25rem;
}


#Introduction{
	color: white;
	padding: 2.1875rem;
}

.link{
	color: rgb(74, 238, 205);
}

.round-log{
	display:inline;
}

h3{
	font-size: 2.25rem;
}

#in{
	border-color: rgb(255, 250, 212) transparent rgb(255, 250, 212) transparent;
	border-width:2px;
	border-style:solid;
}

.question{
	margin-top: 9.375rem;
}

#Top{
	border:2px solid #a1a1a1;
	background-image: url(images/cars-parked-in-front-of-company-building-2449452.jpg);
	border-radius:15px;
	margin-top: 8.5rem;
	margin-bottom: 7.5rem;
	padding: 6.25rem;
	background-size:cover;
}

#title{
	background-color: rgba(166, 186, 188, 0.4);
}

.jittery {
  animation: jittery 4s infinite;
}

@keyframes jittery {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.50);
  }
  20% {
    transform: scale(1.50) rotate(-5deg);
  }
  25% {
    transform: scale(1.50) rotate(5deg);
  }
  30% {
    transform: scale(1.50) rotate(-3deg);
  }
  35% {
    transform: scale(1.50) rotate(2deg);
  }
  40% {
    transform: scale(1.50) rotate(0);
  }
}